#cim{
    text-align: center;
}
header{
    padding-left: 20px;
}
div{
    margin-top: 75px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
}
img{
    max-width: 50%;
}
#hdd{
    float: right;
}